header {
    position: sticky;
    margin: -8px;
    outline: none;
    text-decoration: none;
    height: 7em;
    background: linear-gradient(hsl(148, 53%, 86%), #41cc81, rgb(77, 161, 109));
    opacity: 0.7;
    font-family: 'Genos';
    font-weight: bold;
    margin-bottom: 64px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

#articles-section {
    background: linear-gradient( rgb(77, 161, 109), #41cc81);
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    margin-top: 1.6em;
    list-style: none;
    display: none;
    width: 15%;
    padding-bottom: 24px;
}

#articles-section a {
    text-decoration: none;
    padding-top: 8px;
}

body {
    position: relative;
    min-height: 100vh;
}

#body {
    padding-bottom: 8rem;
}

#footer {
    margin: -8px;
    text-align: center;
    font-family: 'Robotto', sans-serif;
    font-style: italic;
    height: 70px;
    padding-top: 24px;
    background-color: #41cc8125;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.menuitem1,
.menuitem2,
.menuitem3,
.menuitem4,
a {
    width: 15%;
    text-align: center;
    font-size: 24px;
    color: white;
    opacity: 1;
    font-family: 'Genos', sans-serif;
    padding-top: 1em;
    font-size: 28px;
}

#bigmenu:hover,
.menuitem2:hover,
.menuitem3:hover,
.menuitem4:hover,
.welcome:hover,
.menuitem1 a:hover,
.menuitem2 a:hover,
.menuitem3 a:hover,
#articles-section li:hover a:hover {
    text-shadow: 0px 0px 4px #FF77EE;
}

.menuitem1 a:hover>#articles-section {
    display: block;
}

h1 {
    font-weight: bold;
    text-align: left;
    font-family: 'Genos';
    font-size: 42px;
    margin-left: 0.5em;
    margin-right: 1em;
    color: #3b3947;
}

.welcome {
    width: 25%;
    text-align: left;
    font-weight: bolder;
    color: white;
    padding-top: 0.5em;
    padding-left: 34px;
    align-self: flex-end;
}

.welcome a {
    font-size: 36px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #41cc81;
}

span {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #41cc81;
}

.icon {
    width: 42px;
    height: 42px;
    align-self: flex-end;
    padding-left: 2em;
}

.title {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    justify-content: flex-start;
    margin-left: 20vw;
    padding-bottom: 42px;
}

.container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 55vw;
    background-color: white;
    opacity: 0.6;
    border-radius: 12px;
    box-shadow: 0px 0px 4px 4px #00000045;
}

.container2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    width: 400px;
    height: fit-content;
    align-self: center;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 2px #00000045;
}

.label {
    font-family: 'Genos', sans-serif;
    font-size: 44px;
    color: #3b3947;
    margin-left: 9%;
    margin-top: 32px;
    vertical-align: middle;
}

#title {
    height: 44px;
    border-radius: 12px;
    width: 80%;
    margin-left: 9%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    background-color: #41cc8110;
    border: 1px solid #3b3947;
}

#content {
    margin-left: 9%;
    width: 80%;
    height: 200px;
    border-radius: 12px;
    padding: 20px;
    color: black;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    background-color: #41cc8110;
    border: 1px solid #3b3947;
}

.tiny_class {
    border: 2px solid #3b3947;
}

select {
    height: 44px;
    border-radius: 12px;
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    background-color: #41cc8110;
    border: 1px solid #3b3947;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#title:focus-visible,
#content:focus-visible,
select {
    outline: 2px solid rgb(4, 223, 150);
}

textarea {
    resize: none;
}

#publish-button {
    height: 48px;
    width: 140px;
    font-size: 28px;
    text-align: center;
    padding-left: 0;
    margin-bottom: 24px;
    margin-top: 36px;
    margin-left: 45%;
    margin-right: auto;
    background-color: #41cc81;
    color: whitesmoke;
    border: 1px solid white;
    border-radius: 12px;
}

#publish-button:hover {
    background-color: white;
    color: #41cc81;
    border: 1px solid #41cc81;
}

#main {
    margin-bottom: 4%;
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    width: 80%;
    padding-left: 15%;
    padding-right: 10%;
}

#yo {
    width: 25vw;
    height: 25vw;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 42px;
    gap: 1em 1em;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}

article {
    display: block;
    width: 25%;
    box-shadow: 0px 0px 6px 2px #00000045;
    background-color: white;
    padding: 2em;
    border-radius: 16px;
    height: fit-content;
}

.article-header {
    display: flex;
    gap: 2em;
    align-items: flex-start;
}

.article-title {
    font-family: 'Genos', sans-serif;
    color: #41cc81;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: justify;
    width: 90%;
}

.article-header i {
    padding-top: 0.5em;
    text-align: right;
}

.article-content {
    font-family: 'Robotto', sans-serif;
    font-size: 16px;
    color: #3b3947;
    text-align: justify;
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    /* number of lines to show */
    line-clamp: 10;
    -webkit-box-orient: vertical;
}

.article-infos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Robotto', sans-serif;
    font-style: italic;
    font-size: 14px;
    padding-top: 2em;
}

.article-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
    margin-bottom: 16px;
}

.author {
    text-decoration: underline;
}

.deployButton {
    padding: 0.1em;
    background-color: #41cc81;
    color: white;
}

#categ-articles {
    width: 45vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.isUserAuthor {
    cursor: pointer;
    color: #FF77EE;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}

#article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    font-family: 'Robotto', sans-serif;
}

#article_title {
    padding-bottom: 0;
    width: 60vw;
    margin-left: 18vw;
}

#article_infos {
    padding-bottom: 2em;
}

.infos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 42px;
    gap: 1em 1em;
    justify-content: center;
}

.infos article {
    width: 30vw;
}

@media(max-width:1200px) {
    .main {
        margin-left: 6%;
        margin-right: 6%;
    }
    article {
        width: 35%;
        margin-right: 24px;
    }
    .article-infos {
        font-size: 12px;
    }
    #yo {
        height: 450px;
        width: 450px;
    }
    .container {
        width: 85vw;
    }
    .title {
        margin-left: 10vw;
    }
    .container2 {
        width: 25vw;
    }
    .container2 h1 {
        font-size: 30px;
    }
    .container2 h2 {
        font-size: 18px;
    }
    .icon {
        align-self: center;
    }
    .menuitem4 {
        align-self: baseline;
    }
    #articlesicon,
    #accounticon,
    #forumicon {
        display: none;
    }
    .welcome a {
        font-size: 26px
    }
    .welcome {
        align-self: center;
    }
    #articles-section a {
        font-size: 0.8em;
    }
}

@media(max-width:900px) {
    .infos article {
        width: 70vw;
    }
    article {
        width: 70vw;
    }
    #yo {
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-top: 0;
    }
    .main {
        flex-direction: column;
        margin-right: 3em;
        margin-left: 3em;
    }
    .infos {
        flex-direction: column;
    }
    .container2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .container {
        width: 85vw;
    }
    .main {
        flex-flow: column nowrap;
    }
    header {
        width: 100vw;
    }
    .title {
        margin-left: 10vw;
    }
    #menuitem1,
    #menuitem2,
    #menuitem3 {
        display: none;
    }
    #articlesicon,
    #forumicon,
    #accounticon {
        display: contents;
    }
    #articles-section a {
        font-size: 0.5em;
    }
}

@media(max-width: 700px) {
    .welcome a {
        font-size: 25px;
    }
    .welcome {
        margin-top: 0.5em;
    }
}

@media(max-width:400px) {
    #yo {
        width: 250px;
        height: 250px;
    }
}