header {
    position: sticky;
    margin: -8px;
    outline: none;
    text-decoration: none;
    height: 7em;
    background: linear-gradient(hsl(148, 53%, 86%), #41cc81, rgb(77, 161, 109));
    opacity: 0.7;
    font-family: 'Genos';
    font-weight: bold;
    margin-bottom: 64px;
}

body {
    position: relative;
    min-height: 100vh;
}

#body {
    padding-bottom: 8rem;
}

#footer {
    margin: -8px;
    text-align: center;
    font-family: 'Robotto', sans-serif;
    font-style: italic;
    height: 70px;
    padding-top: 24px;
    background-color: #41cc8125;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menuitem1,
.menuitem2,
a {
    width: 15%;
    text-align: center;
    font-size: 24px;
    color: white;
    opacity: 1;
    font-family: 'Genos', sans-serif;
    padding-top: 1.25em;
    font-size: 28px;
}

.menuitem1:hover,
.menuitem2:hover {
    text-shadow: 0px 0px 4px #b8c5be;
}

.welcome {
    width: 26%;
    text-align: left;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    padding-top: 0.5em;
}

.welcome-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    height: fit-content;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 2px #00000025;
}

#welcome {
    display: flex;
    margin-left: 10%;
    margin-right: 15%;
    align-items: center;
}

.icon {
    width: 54px;
    height: 54px;
    align-self: center;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    width: 400px;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 2px #00000045;
}

.container2 {
    display: table-cell;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    width: 250px;
    height: fit-content;
    text-align: center;
    background-color: black;
    opacity: 0.45;
    border-radius: 8px;
}

.container2::before {
    margin-left: auto;
}

label {
    font-family: 'Genos', sans-serif;
    font-size: 24px;
    color: #3b3947;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 150px;
    height: 44px;
    background-color: #41cc8118;
    color: #3b3947;
    border-radius: 12px;
    margin: 8px;
    border: none;
    padding-left: 20px;
}

#login {
    display: block;
    margin-bottom: 4%;
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    width: 80vw;
    margin-left: 15vw;
    margin-right: 5vw;
}

input[type=submit] {
    background-color: #59f0a0;
    border: 1px solid white;
    margin: 24px;
    border-radius: 8px;
    font-size: 16px;
    border: 0;
    font-weight: 500;
    cursor: pointer;
    font-size: 28px;
    padding: 12px;
    border: 1px solid white;
}

input[type=submit]:hover {
    background-color: white;
    color: #41cc81;
    border: 1px solid #41cc81;
}

h1 {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    padding: 10px;
    font-family: 'Genos', sans-serif;
    color: #3b3947;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #41cc81;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: justify;
    font-size: 24px;
    margin-left: 34px;
    margin-right: 34px;
    color: #3b3947;
}

label {
    text-align: left;
}

i {
    text-align: left;
}

.alien {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 30vw;
    padding-bottom: 44px;
}

#hi {
    width: 30vw;
    height: 30vw;
}

#yo {
    width: 30vw;
    height: 30vw;
}

#register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 15%;
    margin-right: 10%;
}

a span {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: #41cc81;
}

@media(max-width:1200px) {
    #hi {
        height: 465px;
        width: 465px;
    }
    #yo {
        height: 465px;
        width: 465px;
    }
    .alien {
        height: 465px;
        width: 465px;
    }
    .welcome {
        padding-top: 0.25em;
    }
}

@media(max-width:900px) {
    #register {
        display: block;
    }
    #hi {
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-top: 44px;
    }
    #login {
        display: block;
    }
    #yo {
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-top: 44px;
    }
    .welcome {
        font-size: 24px;
    }
    .alien {
        height: 80vw;
        width: 80vw;
    }
    .welcome-container {
        margin-left: 10%;
        margin-right: 10%;
    }
    #welcome {
        display: flex;
        flex-direction: column-reverse;
    }
}