<header>
    <div class="menu">
        <img src="../../resources/ufo-icon.svg" alt="ufo-icon" class="icon">
        <div class="welcome"> <a id="welcome" style="text-decoration:none" href="../../index.php">Welcome, dear awake fellow !</a></div>
        <div class="menuitem1"><a href="sign-in.php"><i class="fas fa-sign-in-alt" title="Login"></i></a><a id="menuitem1" style="text-decoration:none" href="sign-in.php"> Sign up</a></div>
        <div class="menuitem2"><a href="log-in.php"><i class="fas fa-user-plus" title="Register"></i></a><a id="menuitem2" style="text-decoration:none " href="log-in.php "> Sign in</a></div>
    </div>
</header>